@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root {
    --btn-text: #fef1dd;
    --primary-color: #1b1e33;
    --secondary-color: #f59709;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}


/*  NAVIGATION */

.navbar {
    background-color: var(--primary-color);
}

.navbar-nav {
    margin-right: 4rem;
}

.navbar-nav a {
    margin-left: 2rem;
}

nav .dev-evanto {
    color: rgb(247, 244, 239);
    font-weight: bolder;
    font-size: 2rem;
    margin-left: 2rem;
}

.dev-line1 {
    color: white;
    margin-top: 0.5rem;
    text-decoration: none;
    margin-right: 2rem;
}

.dev-line2 {
    color: white;
    margin-top: 0.5rem;
    padding-right: 0.5rem;
}

.dev-brand {
    color: var(--secondary-color);
    font-weight: bolder;
}

.navbar {
    padding-bottom: 1.5rem;
}

.navbar ul a {
    color: white;
}

.navbar ul a:hover {
    color: var(--secondary-color);
}


/*  ANIMATIO */

.bounceIn {
    animation-delay: 1.2s;
}


/*  SIDE BAR */


/* The sidepanel menu */

.sidepanel {
    height: 40rem;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    right: 0;
    background-color: var(--primary-color);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
    opacity: 0.9;
}


/* The sidepanel links */

.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidepanel a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style the button that is used to open the sidepanel */

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtnm {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: white;
    font-weight: bolder;
    padding: 10px 15px;
    border: 1px solid var(--secondary-color);
}

.openbtnm:hover {
    background-color: var(--secondary-color);
}

.openbtn:hover {
    background-color: var(--secondary-color);
}


/* HERO/HEADER IMAGE */

.hero {
    background: url('../images/Rectangle 17.png') no-repeat;
    height: 35rem;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.hr {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
}

.circlea {
    position: absolute;
    z-index: 20000;
    color: var(--primary-color);
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    clip-path: circle(3rem at 0 100%);
    transition: 0.5s;
}

.circleb {
    position: absolute;
    z-index: 20000;
    color: var(--primary-color);
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: -66%;
    clip-path: circle(4rem at 100% 0);
    transition: 0.5s;
}

.hero h1 {
    padding-top: 12rem;
    font-weight: bolder;
    margin-top: 0;
}

.hero a {
    background-color: var(--secondary-color);
    padding: 0.5rem 2rem;
    text-decoration: none;
    margin-top: 2rem;
    display: inline-block;
    color: rgb(226, 222, 213);
}


/* MAIN SECTION */


/* backgroun image for section 1 and 2 (spots) */

.a {
    color: var(--primary-color);
    font-weight: bold;
}


/*.dev-im {
    background: url('../images/Rectangle 17.png');
    height: 20.9rem;
    z-index: -1000;
    overflow: hidden;
}*/


/* SECTION 3 */

.section-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, );
    grid-auto-flow: dense;
    overflow: hidden;
}

figure {
    margin: 0;
}

.section-3 img {
    height: 100%;
    width: 100%;
}

.img1 {
    grid-column: 1/3;
}

.img2 {
    grid-column: 3/4;
}

.img3 {
    grid-column: 4/5;
}

.img4 {
    grid-column: -5/-4;
}

.img5 {
    grid-column: -4/-3;
}

.img6 {
    grid-column: -3/-1;
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    background: url(../images/Rectangle\ 17.png) no-repeat;
}

.dev-im {
    background-color: rgba(28, 28, 54, 0.5);
    color: var(--secondary-color);
    padding-top: 5rem;
    width: 100%;
    height: 100%;
    padding-left: 2rem;
}

.dev-im::after {
    content: '';
    color: var(--secondary-color);
    width: 10rem;
    height: auto;
    border-bottom: 3px solid var(--secondary-color);
    position: absolute;
    left: 2rem;
    top: 10rem;
}

.section-1 {
    padding-top: 5rem;
}

.section-2 {
    padding-top: 5rem;
}

.section-3 div {
    padding: 0;
}

.section-3 div img {
    height: 21rem;
}


/* MEET OUR TEAM */

.gala {
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.team {
    background: linear-gradient(180deg, var(--primary-color) 70%, #ffffff 40%);
}

.team-intro {
    color: white;
}

.bottom-pot {
    color: #fff;
    background-color: var(--primary-color);
    padding-top: 3rem;
}

.teamg img {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.teamg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.6rem;
}


/* OUR HAPPY CLIENTS */

.dev-container {
    margin-top: 0;
    margin-bottom: 7rem;
    padding-top: 8rem;
    gap: 3rem;
    color: var(--primary-color);
    background-color: var(--primary-color);
}

.dev-container>div {
    height: 15rem;
    max-width: 100%;
}

.content1 {
    border-bottom: 1px solid white;
}

.content2 {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.content3 {
    border-bottom: 1px solid white;
}

.content4 {
    border-left: 1px solid white;
}

.fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* .content5 {} */

.content6 {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.content2 p::after {
    content: '';
    border-bottom: 1px solid white;
    position: absolute;
    color: white;
    width: 10rem;
    bottom: 4rem;
    right: 3rem;
}

.content4 p::after {
    content: '';
    border-bottom: 1px solid white;
    position: absolute;
    color: white;
    width: 10rem;
    bottom: 4rem;
    right: 2rem
}


/* .content7 { */


/* border-right: 1px solid white; */


/* } */

.content8 {
    border-left: 1px solid white;
    padding-top: 1rem;
}


/* FOOTER */

.dev-footer {
    padding-top: 0;
    text-align: left;
}

.team-fury {
    font-weight: bolder;
}

.dev-ft-nav {
    list-style: none;
    text-decoration: none;
    margin-left: 1.2rem;
    color: black;
}

.dev-ft-nav:hover {
    color: orange;
    list-style: none;
    text-decoration: none;
}

.dev-l {
    margin-left: 0;
}

.foot-icon {
    margin-left: 12.5rem;
}

.dev-icon {
    margin-left: 1.2rem;
    margin-top: 2.5rem;
}

.dev-copy {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    margin-left: 0;
}

@media (max-width:1300px) {
    .circlea,
    .circleb {
        display: none;
    }
}

@media (max-width: 1013px) {
    .openbtn,
    .bottom-pot,
    .dev-container {
        display: none;
    }
    .teamg {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
    /*.section-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: dense;
        overflow: hidden;
    }*/
}

@media (max-width: 913px) {
    .d {
        display: none;
    }
    .section-3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: dense;
        overflow: hidden;
    }
    .img1 {
        grid-column: 1/2;
    }
    .img2 {
        grid-column: 2/3;
    }
    .img3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .img4 {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .img5 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .img6 {
        grid-column: 2/3;
        grid-row: 3/4;
        position: relative;
        height: 100%;
        width: 100%;
        object-fit: cover;
        background: url(../images/Rectangle\ 17.png) no-repeat;
    }
}